{% extends 'index.html' %}
{% block principal %}


<!-- CONTENT START -->
<div class="page-content">

    <!-- SECTION CONTENTG START -->
    <div class="section-full p-tb80 inner-page-padding">
        <!-- LOCATION BLOCK-->
        <div class="container">

            <!-- GOOGLE MAP & CONTACT FORM -->
            <div class="section-content">
                <!-- CONTACT FORM-->
                <div class="row">
                    <div class="col-md-8 col-sm-6">
                        <form class="contact-form cons-contact-form" method="post" action="form-handler.php">
                            <div class="contact-one m-b30">

                                <!-- TITLE START -->
                                <div class="section-head">
                                    <div class="mt-separator-outer separator-left">
                                        <div class="mt-separator">
                                            <h2 class="text-uppercase sep-line-one "><span
                                                    class="font-weight-300 text-primary">CONSTRULABA</span> S.A.</h2>
                                        </div>
                                    </div>
                                </div>
                                <!-- TITLE END -->
                                <p>{{ construlaba.detalle }}</p>




                            </div>
                        </form>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="contact-info m-b30">
                            <!-- TITLE START -->
                            <div class="section-head">
                                <div class="mt-separator-outer separator-left">
                                    <div class="mt-separator">
                                        <h2 class="text-uppercase sep-line-one "><span
                                                class="font-weight-300 text-primary">Contact</span> Info</h2>
                                    </div>
                                </div>
                            </div>
                            <!-- TITLE END -->
                            <div class="bg-dark p-a20 text-white">
                                <div class="mt-icon-box-wraper left p-b40">
                                    <div class="icon-xs"><i class="fa fa-phone"></i></div>
                                    <div class="icon-content">
                                        <h5 class="m-t0 font-weight-500">Phone number</h5>
                                        <p>(123) 456-78910</p>
                                    </div>
                                </div>

                                <div class="mt-icon-box-wraper left p-b40">
                                    <div class="icon-xs"><i class="fa fa-envelope"></i></div>
                                    <div class="icon-content">
                                        <h5 class="m-t0 font-weight-500">Email address</h5>
                                        <p>7xthemehelp@gmail.com</p>
                                    </div>
                                </div>

                                <div class="mt-icon-box-wraper left">
                                    <div class="icon-xs"><i class="fa fa-map-marker"></i></div>
                                    <div class="icon-content">
                                        <h5 class="m-t0 font-weight-500">Address info</h5>
                                        <p>09, Martin Street B190 Polo Alto, San Francisco</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SECTION CONTENT END -->

    <!-- INNER PAGE BANNER -->
    <div class="mt-bnr-inr overlay-wraper bg-parallax bg-top-center" data-stellar-background-ratio="0.5"
         style="background-image:url(/static/images/banner/12-02.png);">
        <div class="overlay-main bg-black opacity-04"></div>

    </div>
    <!-- INNER PAGE BANNER END -->

</div>
<!-- CONTENT END -->


{% endblock %}
